﻿@model FollowTaskIt.Models.CreacionEmpleadosViewModel

<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @if (Model.esParticipante)
        {
            <div id="ControlesParticipante">
                @Html.HiddenFor(model => model.empleado.empleadoId)
                @Html.HiddenFor(model => model.empleado.departamentoId)
                @Html.HiddenFor(model => model.empleado.usuario)
                @Html.HiddenFor(model => model.empleado.Activo)
                @Html.HiddenFor(model => model.minutaId)
                @Html.HiddenFor(model => model.esParticipante)

                <div class="form-group">
                    <label class="control-label col-md-4" for="nombre">Nombre</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.nombre)
                        @Html.ValidationMessageFor(model => model.empleado.nombre)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.email, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.email)
                        @Html.ValidationMessageFor(model => model.empleado.email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Asistencia, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Asistencia)
                        @Html.ValidationMessageFor(model => model.Asistencia)
                    </div>
                </div>

            </div>
        }
        else
        {
            <div id="ControlesEmpleados">
                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.empleadoId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.empleadoId)
                        @Html.ValidationMessageFor(model => model.empleado.empleadoId)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.departamentoId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownList("empleado.departamentoId", (SelectList)ViewBag.empleado_departamentoId, "Seleccionar", htmlAttributes: new { @name = "empleado.departamentoId", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.empleado.departamentoId)
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="nombre">Nombre</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.nombre)
                        @Html.ValidationMessageFor(model => model.empleado.nombre)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.usuario, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.usuario)
                        @Html.ValidationMessageFor(model => model.empleado.usuario)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.email, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.email)
                        @Html.ValidationMessageFor(model => model.empleado.email)
                    </div>
                </div>

                @if (Model.empleado.dataBaseValidated)
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.empleado.PasswordHash, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.empleado.PasswordHash)
                            @Html.ValidationMessageFor(model => model.empleado.PasswordHash)
                        </div>
                    </div>
                }

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.notas, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.notas)
                        @Html.ValidationMessageFor(model => model.empleado.notas)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.modifica_noticias, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.empleado.modifica_noticias, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.empleado.modifica_noticias)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.muestra_tres_tareas, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.empleado.muestra_tres_tareas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.empleado.muestra_tres_tareas)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.chat, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.empleado.chat, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.empleado.chat)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.Activo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.empleado.Activo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.empleado.Activo)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.accesomant, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.CheckBoxFor(model => model.empleado.accesomant, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.empleado.accesomant)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.PCid, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.PCid)
                        @Html.ValidationMessageFor(model => model.empleado.PCid)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.codigo_grupo, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.codigo_grupo)
                        @Html.ValidationMessageFor(model => model.empleado.codigo_grupo)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.desktop, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.desktop)
                        @Html.ValidationMessageFor(model => model.empleado.desktop)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.empleado.idioma, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.empleado.idioma)
                        @Html.ValidationMessageFor(model => model.empleado.idioma)
                    </div>
                </div>
            </div>
        }
    </div>
    <hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>

}


@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }
}

