﻿@model FollowTaskIt.AccesoBaseDatosV2.EMPLEADOS

@{
    ViewBag.Title = "Eliminar EMPLEADOS";
}

<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />

<h5>Esta seguro que desea eliminar este registro?</h5>
@Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.DEPARTAMENTO1, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO1.nombre_depto)
        </dd>

        <dt>
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

        <dt>
            @Html.LabelFor(model => model.accesomant, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.accesomant)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PCid, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PCid)
        </dd>

        <dt>
            @Html.LabelFor(model => model.codigo_grupo, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_grupo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.desktop, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desktop)
        </dd>

        <dt>
            @Html.LabelFor(model => model.notas, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notas)
        </dd>

        <dt>
            @Html.LabelFor(model => model.modifica_noticias, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifica_noticias)
        </dd>

        <dt>
            @Html.LabelFor(model => model.muestra_tres_tareas, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.muestra_tres_tareas)
        </dd>

        <dt>
            @Html.LabelFor(model => model.chat, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chat)
        </dd>

        <dt>
            @Html.LabelFor(model => model.idioma, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idioma)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <hr class="titulo-hr" />
        <div class="form-actions">
            <div class="btn-group" role="group">
                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        </div>

        <div style="clear: both;"></div>
    }
</div>

