﻿@model FollowTaskIt.AccesoBaseDatosV2.EMPLEADOS

@{
    ViewBag.Title = "Editar Empleados";
}

<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.empleadoId)
        @Html.HiddenFor(model => model.tipoId)
        <div class="form-group">
            @Html.LabelFor(model => model.empleadoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.empleadoId, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.departamentoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("departamentoId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.departamentoId)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4" for="nombre">Nombre</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.usuario)
                @Html.ValidationMessageFor(model => model.usuario)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        @if (Model.dataBaseValidated)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PasswordHash, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PasswordHash)
                    @Html.ValidationMessageFor(model => model.PasswordHash)
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.PasswordHash)
        }

        <div class="form-group">
            @Html.LabelFor(model => model.notas, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.notas)
                @Html.ValidationMessageFor(model => model.notas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modifica_noticias, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.modifica_noticias, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.modifica_noticias)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.muestra_tres_tareas, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.muestra_tres_tareas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.muestra_tres_tareas)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.chat, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.chat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.chat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.Activo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Activo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.accesomant, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.accesomant, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.accesomant)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PCid, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PCid)
                @Html.ValidationMessageFor(model => model.PCid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.codigo_grupo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.codigo_grupo)
                @Html.ValidationMessageFor(model => model.codigo_grupo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.desktop, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.desktop)
                @Html.ValidationMessageFor(model => model.desktop)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.idioma, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.idioma)
                @Html.ValidationMessageFor(model => model.idioma)
            </div>
        </div>

        <hr class="titulo-hr" />
        <div class="form-actions">
            <div class="btn-group" role="group">
                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
}


@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }
}


