﻿@model FollowTaskIt.Models.ListadoEmpleadosViewModel

@{

    var nombreControlador = "Empleados";
    ViewBag.nombreAccion = "Index";
}

<h3 class="titulo titulo-index">@ViewBag.Title</h3>
<div class="form-actions">
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default" onclick="cargarModal('@Url.Action("Create", @nombreControlador)')">Crear Nuevo Empleado</a>
    </div>
</div>
<div style="clear: both;"></div>
<hr class="titulo-hr" />

@Html.Partial("_MensajeError")
<div class="row">
    <div class="col-md-5" style="margin-bottom: -41px; z-index: 1">
        <div class="pull-left" style="padding-right: 10px;">
            @Html.DropDownList("TipoId", null, "Seleccionar Tipo", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="pull-left" style="padding-right: 10px;">
            @Html.DropDownList("Activo", null, "Seleccionar Activo", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered display table-condensed">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                   Nombre
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().departamentoId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().accesomant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().chat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Listado.FirstOrDefault().Activo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Listado)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.empleadoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DEPARTAMENTO1.FirstOrDefault().nombre_depto)
                    </td>
                    <td>
                        @if (item.accesomant)
                        {
                            <span class="label label-success">SI</span>
                        }
                        else
                        {
                            <span class="label label-danger">NO</span>
                        }
                    </td>
                    <td>
                        @if (item.chat)
                        {
                            <span class="label label-success">SI</span>
                        }
                        else
                        {
                            <span class="label label-danger">NO</span>
                        }
                    </td>
                    <td>
                        @if (item.Activo)
                        {
                            <span class="label label-success">SI</span>
                        }
                        else
                        {
                            <span class="label label-danger">NO</span>
                        }
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accion
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", @nombreControlador, new { id=item.empleadoId })')">Detalle</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Edit", @nombreControlador, new { id=item.empleadoId })')">Editar</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Delete", @nombreControlador, new { id=item.empleadoId })')">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr class="titulo-hr" />

@section scripts{

    @*Datatable BEING*@
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @*Datatable END*@
    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/Usuario/myCodeDataTable.js"></script>
    <script src="~/Scripts/Menu/Settings.js"></script>
    <script>

        $(document).ready(function () {

            var nombreDelBoton = "#TipoId";
            var nombreDelBoton2 = "#Activo";
         
            var asdf1 = $(nombreDelBoton);
            var asdf2 = $(nombreDelBoton2);

            $(nombreDelBoton + ',' + nombreDelBoton2).change(function () {
                var selectedValue = $(nombreDelBoton).val();
                var selectedValue2 = $(nombreDelBoton2).val();
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + '@nombreControlador' + '/' + '@ViewBag.nombreAccion' + '/' + selectedValue + '?activo=' + selectedValue2;
                Redirect(url);
            });
       

            @*$(nombreDelBoton2).change(function () {
                var div = document.getElementById(nombreDelBoton2.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + '@nombreControlador' + '/' + '@ViewBag.nombreAccion' + '/' + selectedValue2;
                Redirect(url);
            });*@


        });

    </script>
}

