﻿@model FollowTaskIt.AccesoBaseDatosV2.DEPARTAMENTO

@{
    ViewBag.Title = "Detalles DEPARTAMENTO";
}

<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.nombre_depto, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_depto)
        </dd>

        <dt>
            @Html.LabelFor(model => model.noticias, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noticias)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EMPLEADOS, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS.nombre)
        </dd>

    </dl>
</div>


<hr class="titulo-hr" />
<div class="form-actions">
    <div class="btn-group" role="group">
        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

<div style="clear: both;"></div>

