﻿@model FollowTaskIt.AccesoBaseDatosV2.DEPARTAMENTO

@{
    ViewBag.Title = "Editar Departamento";
}

<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.departamentoId)
        @Html.HiddenFor(model => model.iconoBoostrap)

        <div class="form-group">
            @Html.LabelFor(model => model.nombre_depto, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.nombre_depto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nombre_depto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.noticias, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.noticias, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.noticias)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoid, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("empleadoid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.empleadoid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdministradorId1, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("AdministradorId1", null, "Seleccionar ", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdministradorId1)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AdministradorId2, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("AdministradorId2", null, "Seleccionar ", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdministradorId2)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AdministradorId3, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("AdministradorId3", null, "Seleccionar ", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AdministradorId3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.CheckBoxFor(model => model.Activo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Activo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Servicios, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.CheckBoxFor(model => model.Servicios, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Servicios)
            </div>
        </div>

        <hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
}

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }
}
