﻿@model FollowTaskIt.Models.EditarContadorViewModel

@{
    ViewBag.Title = Model.Titulo;
}

<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.Minutos, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.Minutos, new { @onkeyup = "changeMinutos()", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Minutos)
            </div>
        </div>

        <hr class="titulo-hr" />
        <div class="form-actions">
            <div class="btn-group" role="group">
                <button id="btnMostrarContador" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-eye"></i>/<i class="fa fa-eye-slash"></i>
                    </span>
                </button>
            </div>
        </div>
        <div style="clear: both;"></div>

    </div>
}

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    <script src="~/Scripts/Meetings/MostrarContador.js"></script>
}


