﻿@model IEnumerable<FollowTaskIt.Models.ListadoTiposDespartamentoViewModel>
<link href="~/Content/morris.css" rel="stylesheet" />
@*<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />*@
<div class="separacionArriba"></div>
<div class="row">
    @if (Model != null)
    {
        foreach (var reunion in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <dv class="col-xs-3">
                                @Html.Raw(reunion.iconoBoostrap)
                            </dv>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@reunion.contador</div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Reuniones", "Meetings", new { @id = @reunion.departamentoId, @tipoId = @reunion.tipoId })">
                        <div class="panel-footer">
                            <span class="pull-left">@reunion.Nombre</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
    else
    {

    }
</div>