﻿@model FollowTaskIt.Models.EliminarRefechasViewModel
@{
    ViewBag.Title = "Desea Eliminar Todas las refechas para?";
}
<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEliminarRefecha" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.tareaRecId)

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group col-md-12">
            <span> <strong>Reunion</strong></span> @Model.Reunion
        </div>

        <div class="form-group col-md-12">
            <span><strong>Minuta</strong></span> @Model.Minuta
        </div>

        <div class="form-group col-md-12">
            <span><strong>Tarea</strong></span> @Model.Tarea
        </div>

        <div class="form-group">
            <span class="control-label col-md-4"><strong>Confirmar</strong></span> 
            <div class="col-md-8">
                @Html.EditorFor(model => model.Confirmar)
                @Html.ValidationMessageFor(model => model.Confirmar)
            </div>
        </div>

    </div>
    <hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            <input id="btnEliminarRefecha" type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" value="Eliminar" />
        </div>
    </div>
    <div style="clear: both;"></div>
}

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    <script src="~/Scripts/Meetings/EliminarRefechas.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnEliminarRefecha").hide();
            $("#Confirmar").change(function () {
                $("#btnEliminarRefecha").fadeToggle();
            });
        });
    </script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
        <script src="~/Scripts/Meetings/EliminarRefechas.js"></script>
        <script>
            $(document).ready(function () {
                $("#btnEliminarRefecha").hide();
                $("#Confirmar").change(function () {
                    $("#btnEliminarRefecha").fadeToggle();
                });
            });
        </script>
    }
}

