﻿<link href="~/Content/morris.css" rel="stylesheet" />
@*<h3 class="titulo">@ViewBag.Title</h3>*@
@*<hr class="titulo-hr" />*@
<div class="separacionArriba"></div>
<div class="row">
    @if (Model != null)
    {
        int contador = 0;
        foreach (var departamentoReuniones in Model)
        {
            contador += 1;
            bool esDivisible = (contador % 4) == 0;
            if (esDivisible)
            {
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-success ">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        @Html.Raw(departamentoReuniones.iconoBoostrap)
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">@departamentoReuniones.REUNION.Count</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Action("Departamento", "Meetings", new { @id = @departamentoReuniones.departamentoId })">
                                <div class="panel-footer">
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                                    <span>@departamentoReuniones.nombre_depto</span>
                                    @*<span class="pull-left">@departamentoReuniones.nombre_depto</span>
                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                        <div class="clearfix"></div>*@
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-success ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.Raw(departamentoReuniones.iconoBoostrap)
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@departamentoReuniones.REUNION.Count</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("Departamento", "Meetings", new { @id = @departamentoReuniones.departamentoId })">
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                                <span>@departamentoReuniones.nombre_depto</span>

                                @*<span class="pull-left">@departamentoReuniones.nombre_depto</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>*@

                            </div>
                        </a>
                    </div>
                </div>
            }

        }

    }
</div>
<div style="clear: both;"></div>
