﻿@model FollowTaskIt.Models.EditarMinutaViewModel
<link href="~/Content/panelPrimary.css" rel="stylesheet" />
@*<hr class="titulo-hr" />*@
<div class="separacionArriba"></div>
@Html.Partial("_MensajeError")
<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading clearfix">
                <div class=" pull-left">
                    <h1 class="panel-title pull-left">
                        @Html.Raw(Model.reunion.DEPARTAMENTO.iconoBoostrap.Replace("fa-3x", ""))
                        @Model.reunion.DEPARTAMENTO.nombre_depto
                    </h1>
                    <h1 class="panel-title pull-left">
                        @Html.Raw(Model.reunion.REUNION_TIPO.iconoBoostrap.Replace("fa-3x", ""))
                        @Model.reunion.nombre_reunion
                    </h1>
                    <h1 class="panel-title pull-left">
                        @if (!Model.soloLectura.soloLectura)
                        {
                            <i class="fa fa-edit"></i>
                        }
                        else
                        {
                            <i class="fa fa-eye"></i>
                        }
                        @Model.minuta.nombre
                    </h1>
                    @if (!Model.soloLectura.soloLectura)
                    {
                        <h1 class="panel-title pull-left">
                            <a href="#" onclick="cargarModal('@Url.Action("Contador", "Meetings", new { id = Model.minutos})')" title="Poner tiempo a la reunion">
                                <i class="fa fa-clock-o"></i>
                            </a>
                        </h1>
                    }
                    @if (!Model.soloLectura.soloLectura)
                    {
                        <h1 class="panel-title pull-left">
                            <a href="#" title="Ver o agregar tareas periodicas" onclick="cargarModal('@Url.Action("Periodicas", "Meetings", new { minutaId = Model.minuta.minutaId, reunionId = Model.reunion.reunionId, nombre = Model.reunion.nombre_reunion })')">
                                <i class="fa fa-gear"></i>
                            </a>
                        </h1>
                    }
                    @if (!Model.soloLectura.soloLectura)
                    {
                        <h1 class="panel-title pull-left">
                            <a href="#" title="Crear nueva minuta" onclick="cargarModal('@Url.Action("NuevaMinuta", "Meetings", new { id = Model.minuta.minutaId })')">
                                <i class="fa fa-arrow-circle-o-right"></i>
                            </a>
                        </h1>
                    }
                    @if (!Model.soloLectura.soloLectura)
                    {
                        <h1 class="panel-title pull-left">
                            <a href="#" title="Reasignacion masiva de tareas" onclick="cargarModal('@Url.Action("Reasignacion", "Meetings", new { minutaId = Model.minuta.minutaId, reunionId = Model.reunion.reunionId })',3)">
                                <i class="fa fa-gear"></i>
                            </a>
                        </h1>
                    }
                </div>
                @if (!Model.soloLectura.soloLectura)
                {
                    <h1 class="panel-title pull-right boton-minuta-cerrar" style="">
                        <a href="#" class="btn btn-danger" id="btnCerrarMinuta"><i class="fa fa-save"></i> Cerrar</a>
                    </h1>
                }
                <div class="pull-right">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1primary" data-toggle="tab">Agenda</a></li>
                        <li><a href="#tab1primaryB" data-toggle="tab">Pendiente</a></li>
                        <li><a href="#tab2primary" data-toggle="tab">Tareas</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1primary">
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-9 agenda-Texto">
                                <div>
                                    @if (Model.soloLectura.soloLectura)
                                    {
                                        @Html.TextAreaFor(model => model.minuta.agenda, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(model => model.minuta.agenda, new { @onkeyup = "autosave()", @class = "form-control" })
                                    }
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 agenda-Participantes">
                                <div id="divContenedorParticipantes"
                                     data-url="@Url.Action("", "ParticipantesJson")"
                                     data-id="@Model.minuta.minutaId"
                                     data-sololectura="@Model.soloLectura.soloLectura">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab1primaryB">
                        <div class="row">
                            <div class="col-lg-12 multiLine">
                                <div>
                                    @if (Model.soloLectura.soloLectura)
                                    {
                                        @Html.TextAreaFor(model => model.minuta.puntos_pendientes, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.TextAreaFor(model => model.minuta.puntos_pendientes, new { @onkeyup = "autosave()", @class = "form-control" })
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2primary">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="divContenedorTareas"
                                     data-url="@Url.Action("", "TareasJson")"
                                     data-id="@Model.minuta.minutaId"
                                     data-sololectura="@Model.soloLectura.soloLectura"
                                     data-agregatareas="@Model.soloLectura.agregaTareas"
                                     data-currentuser="@Model.currentUserId">
                                </div>
                                <div id="divContenedorTareas_Oculto" style="display:none;"
                                     data-url="@Url.Action("", "TareasJson")"
                                     data-id="@Model.minuta.minutaId"
                                     data-sololectura="@Model.soloLectura.soloLectura"
                                     data-currentuser="@Model.currentUserId">
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (false)
                    {
                        <div class="row agenda-AsignarTarea">
                            <form method="post" id="frmInsert">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.empleadoId, htmlAttributes: new { @class = "control-label" })
                                        <div>
                                            @Html.DropDownList("empleadoId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.empleadoId)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.solicitante, htmlAttributes: new { @class = "control-label" })
                                        <div>
                                            @Html.DropDownList("solicitante", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.solicitante)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    @Html.EditorFor(model => model.textoTarea, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.textoTarea)
                                </div>
                                <div class="col-md-1 insertarTarea">
                                    <a href="#" id="btnInsertarTarea"><i class="fa fa-check-square fa-3x"></i></a>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@if (!Model.soloLectura.agregaTareas)
{
    <style>
        .jtable-toolbar-item-add-record {
            display: none !important;
        }
    </style>
}
@section FlotanteTareaInsertar{
    @if (Model.soloLectura.agregaTareas)
    {
        <div id="divFlotanteTarea" class="dropLinkAbajo">
            <a href="#">
                <span> <i class="fa fa-plus-circle fa-3x"></i> </span>
            </a>
            <div class="dropdown-menu dropLinkAbajoSub">
                <div class="row agenda-AsignarTarea">
                    <form method="post" id="frmInsert">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="col-md-4">
                            <div class="form-group">
                                <div>
                                    @Html.DropDownList("empleadoId", null, "Seleccionar Asignado a", htmlAttributes: new { @class = "form-control", @title = "Seleccionar Asignado a" })
                                    @Html.ValidationMessageFor(model => model.empleadoId)
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    @*@Html.EditorFor(model => model.fechaVence, new { @class = "form-control", @placeholder = "Fecha Vencimiento" })*@
                                    @Html.TextBoxFor(model => model.fechaVence, new { @class = "form-control", @placeholder = "  Fecha Vencimiento" })
                                    @Html.ValidationMessageFor(model => model.fechaVence)
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    @Html.DropDownList("solicitante", null, "Seleccionar Solicitante", htmlAttributes: new { @class = "form-control", @title = "Seleccionar Solicitante" })
                                    @Html.ValidationMessageFor(model => model.solicitante)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7" style="padding-right: 0px;">
                            @Html.EditorFor(model => model.textoTarea, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.textoTarea)
                        </div>
                        <div class="col-md-1 insertarTarea">
                            <a href="#" id="btnInsertarTarea"><i class="fa fa-check-square fa-3x"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
}


@section scripts{

    @if (Model.mostrarPopUp && (bool)ViewBag.preguntar)
    {
        <script>
            $(document).ready(function () {
                cargarModal('@Url.Action("NuevaMinuta", "Meetings", new { @id = Model.minuta.minutaId, @OtroPreguntar = false })' + '&popUp=True');
            });
        </script>
    }

    @{
        //Para Usar un Tema de JQuery UI

        //var jQueryStyle = "flick/jquery-ui.flick.min.css";
        //var jQueryStyle = "smoothness/jquery-ui.smoothness.min.css";
        var jQueryStyle = "custom-theme/jquery-ui-1.10.3.custom.css";
        if (!string.IsNullOrEmpty(Request["jQueryStyle"]))
        {
            jQueryStyle = Request["jQueryStyle"];
        }


        //var jTableStyle = "jqueryui/jtable_jqueryui.css";
        var jTableStyle = "lightcolor/blue/jtable.css";
        //jtable/themes/
        //var jTableStyle = "lightcolor/gray/jtable.css";
        //var jTableStyle = "metro/blue/jtable.css";

        //var jTableStyle = "metro/lightgray/jtable.min.css";
        if (!string.IsNullOrEmpty(Request["jTableStyle"]))
        {
            jTableStyle = Request["jTableStyle"];
        }

    }
    <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <!-- JTable Control BEGIN -->
    <link href="@Url.Content("~/Content/themes/" + jQueryStyle)" rel="stylesheet" type="text/css" /> @*//Para Usar un Tema de JQuery UI*@
    <link href="@Url.Content("~/Scripts/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/localization/jquery.jtable.es.js")"></script>
    <!-- JTable Control END -->
    <!-- Mi Codigo -->
    <script src="~/Scripts/Usuario/number_format.js"></script>
    <script src="~/Scripts/Meetings/Minuta-Tareas.js"></script>
    <script src="~/Scripts/Meetings/Minuta-Participantes.js"></script>
    <script src="~/Scripts/Meetings/Minuta-InsertarTarea.js"></script>
    <script src="~/Scripts/Meetings/Minuta-Agenda.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    <script src="~/Scripts/Usuario/jquery.countdown2.js"></script>
    <script src="~/Scripts/Shared/AgregarTareaFloat.js"></script>


}

