﻿@model FollowTaskIt.Models.CrearNuevaMinutaViewModel
@{
    if (Model.esPopUp)
    {
        ViewBag.Title = "Desea Crear Una Nueva Minuta Para " + Model.NombreReunion + "?";
    }
    else
    {
        ViewBag.Title = "Crear Nueva Minuta Para " + Model.NombreReunion;
    }
}
<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MinutaId)
    @Html.HiddenFor(model => model.NombreReunion)
    @Html.HiddenFor(model => model.esPopUp)
    @Html.HiddenFor(model => model.preguntar)

    if (!Model.esPopUp)
    {
        @Html.HiddenFor(model => model.esPopUp)
    }
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.NuevaFecha, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.NuevaFecha)
                @Html.ValidationMessageFor(model => model.NuevaFecha)
            </div>
        </div>
        @if (Model.esPopUp)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Confirmar, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Confirmar)
                    @Html.ValidationMessageFor(model => model.Confirmar)
                </div>
            </div>
        }
    </div>
    <hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            <input id="inputCrear" type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>
}

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>

    <script>
        $(document).ready(function () {
            if ('@Model.esPopUp' == 'True') {
                $("#inputCrear").hide();
            }
            $("#Confirmar").change(function () {
                $("#inputCrear").fadeToggle();
            });
        });
    </script>

}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
        <script>
            $(document).ready(function () {
                if ('@Model.esPopUp' == 'True') {
                    $("#inputCrear").hide();
                }
                $("#Confirmar").change(function () {
                    $("#inputCrear").fadeToggle();
                });
            });
        </script>
    }
}

