﻿@{
    ViewBag.Title = "Tareas Periodicas de " + ViewBag.nombre;
}

<h3 class="titulo">@ViewBag.Title</h3>

<div class="row">
    <div class="col-lg-12">
        <div id="divContenedorPeriodicas"
             data-url="@Url.Action("", "PeriodicasJson")"
             data-minutaid="@ViewBag.minutaId"
             data-reunionid="@ViewBag.reunionId">
        </div>
    </div>
</div>

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/Meetings/Minuta-Periodicas.js"></script>
}
