﻿@{
    ViewBag.Title = "Reasignacion de Tareas ";
}
<link href="~/Content/panelPrimary.css" rel="stylesheet" />
<h3 class="titulo">@ViewBag.Title</h3>
<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <h1 class="panel-title pull-left" title="Seleccionar Empleado Desde">
                        <i class="fa fa-user"></i>
                    </h1>
                    <span>
                        @Html.DropDownList("empleadoIdDesde", null, "Seleccionar Empleado Desde", new { @title = "Seleccionar Empleado Desde", @class = "dropDownBarraTitulo2 pull-left" })
                    </span>
                    <h1 class="panel-title pull-left" title="Seleccionar Minuta Hasta">
                        <i class="fa fa-briefcase"></i>
                    </h1>
                    <span>
                        @Html.DropDownList("minutaIdSeleccion", null, "Seleccionar Minuta Hasta", new { @title = "Seleccionar Minuta Hasta", @class = "dropDownBarraTitulo2 pull-left" })
                    </span>
                    <h1 class="panel-title pull-left" title="Seleccionar Empleado Hasta">
                        <i class="fa fa-user"></i>
                    </h1>
                    <span>
                        @Html.DropDownList("empleadoIdHasta", null, "Seleccionar Empleado Hasta", new { @title = "Seleccionar Empleado Hasta", @class = "dropDownBarraTitulo2 pull-left" })
                    </span>
                </div>
                <div class="pull-right">
                    <ul class="nav nav-tabs">
                        @*<li class="active"><a href="#tab1primary" data-toggle="tab">Tareas</a></li>*@
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1primary">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="divContenedorReasignacion"
                                     data-url="@Url.Action("", "TareasJson")"
                                     data-minutaid="@ViewBag.minutaId"
                                     data-reunionid="@ViewBag.reunionId">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            <button id="btnReasignar" type="button" class="btn btn-default">
                <span>
                    Reasignar
                </span>
            </button>
        </div>
    </div>
    <div style="clear: both;"></div>

</div>


@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/Meetings/Minuta-Reasignacion.js"></script>
}
else
{

    @section scripts{

        @{
            //Para Usar un Tema de JQuery UI

            //var jQueryStyle = "flick/jquery-ui.flick.min.css";
            //var jQueryStyle = "smoothness/jquery-ui.smoothness.min.css";
            var jQueryStyle = "custom-theme/jquery-ui-1.10.3.custom.css";
            if (!string.IsNullOrEmpty(Request["jQueryStyle"]))
            {
                jQueryStyle = Request["jQueryStyle"];
            }


            //var jTableStyle = "jqueryui/jtable_jqueryui.css";
            var jTableStyle = "lightcolor/blue/jtable.css";
            //jtable/themes/
            //var jTableStyle = "lightcolor/gray/jtable.css";
            //var jTableStyle = "metro/blue/jtable.css";

            //var jTableStyle = "metro/lightgray/jtable.min.css";
            if (!string.IsNullOrEmpty(Request["jTableStyle"]))
            {
                jTableStyle = Request["jTableStyle"];
            }

        }
        <link href="~/Content/jquery.timepicker.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.timepicker.min.js"></script>
        <!-- JTable Control BEGIN -->
        <link href="@Url.Content("~/Content/themes/" + jQueryStyle)" rel="stylesheet" type="text/css" /> @*//Para Usar un Tema de JQuery UI*@
        <link href="@Url.Content("~/Scripts/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/localization/jquery.jtable.es.js")"></script>
        <!-- JTable Control END -->
        <!-- Mi Codigo -->
        <script src="~/Scripts/Meetings/Minuta-Reasignacion.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }

}

<style>
    .anchoModal .ui-dialog {
        width: 758px !important;
    }
</style>