﻿@model FollowTaskIt.Models.ReasignacionConfirmarViewModel
@{
    ViewBag.Title = "Confirmacion?";
    ViewBag.Mensaje = "Realmente Desea Asignar Todas Las Tareas Seleccionadas a " + Model.nombreEmpleado + "?";
}
<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.datosArray)
    @Html.HiddenFor(model => model.empleadoId)
    @Html.HiddenFor(model => model.minutaId)

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <label class="control-label col-md-4">Confirmar</label>
            <div class="col-md-8">
                @ViewBag.Mensaje
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Con Refechas?</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ConRefechas)
                @Html.ValidationMessageFor(model => model.ConRefechas)
            </div>
        </div>

    </div>
    <hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>
}

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>

    }
}

