﻿@model FollowTaskIt.Models.ListadoReunionesDepartamento
<link href="~/Content/morris.css" rel="stylesheet" />
<link href="~/Content/Meetings/Departamento.css" rel="stylesheet" />
<div class="separacionArriba"></div>
<div class="row">
    @{
        int contador = 0;
        foreach (var reunion in Model.Reuniones)
        {
            contador += 1;
            bool esDivisible = (contador % 4) == 0;
            if (esDivisible)
            {
                <div class="row">
                    <div class="col-lg-3 col-md-6 ">
                        <div class="panel panel-warning LinkAbajo1">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        @Html.Raw(reunion.iconoBoostrap)
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">@reunion.contador</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a class="dropdown-toggle" data-toggle="LinkAbajo1" href="@Url.Action("Reunir", "Meetings", new { @id = @reunion.departamentoId, @tipoId = @reunion.tipoId, @reunionId = @reunion.reunionId })">
                                <div class="panel-footer">
                                    <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                                    <span>@reunion.nombre_reunion</span>
                                </div>
                            </a>
                            <ul class="dropdown-menu subMenu1">
                                <li class="subMenu">
                                    <a class="dropdown-toggle" data-toggle="subMenu" href="#">
                                        <span style="margin-right: 75px;">Minutas</span>
                                        <i class="fa fa-caret-right"></i>
                                    </a>
                                    <ul class="dropdown-menu subMenu2">
                                        @if (reunion.NuevaMinutaId > 0)
                                        {
                                            <li>
                                                <a href="#" onclick="cargarModal('@Url.Action("NuevaMinuta", "Meetings", new { @id = reunion.NuevaMinutaId })')">Nueva Minuta</a>
                                                @*<a href="@Url.Action("NuevaMinuta", "Meetings", new { @id = reunion.NuevaMinutaId })">Nueva Minuta</a>*@
                                            </li>
                                        }
                                        @if (reunion.Minutas.Any())
                                        {
                                            foreach (var item in reunion.Minutas)
                                            {
                                                <li><a href="@Url.Action("Minuta", "Meetings", new {@id = @item.departamentoId, @tipoId = @item.tipoId, @minutaId = @item.minutaId })">@item.nombre</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                                <li class="divider"></li>
                                <li><a href="#" style=" text-decoration: underline !important;">Administradores</a></li>
                                @if (reunion.usuario1 != null)
                                {
                                    <li><a href="#">@reunion.usuario1</a></li>
                                }
                                @if (reunion.usuario2 != null)
                                {
                                    <li><a href="#">@reunion.usuario2</a></li>
                                }
                                @if (reunion.usuario3 != null)
                                {
                                    <li><a href="#">@reunion.usuario3</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-3 col-md-6 ">
                    <div class="panel panel-warning LinkAbajo1">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    @Html.Raw(reunion.iconoBoostrap)
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@reunion.contador</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a class="dropdown-toggle" data-toggle="LinkAbajo1" href="@Url.Action("Reunir", "Meetings", new { @id = @reunion.departamentoId, @tipoId = @reunion.tipoId, @reunionId = @reunion.reunionId })">
                            <div class="panel-footer">
                                <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                                <span>@reunion.nombre_reunion</span>
                            </div>
                        </a>
                        <ul class="dropdown-menu subMenu1">
                            <li class="subMenu">
                                <a class="dropdown-toggle" data-toggle="subMenu" href="#">
                                    <span style="margin-right: 75px;">Minutas</span>
                                    <i class="fa fa-caret-right"></i>
                                </a>
                                <ul class="dropdown-menu subMenu2">
                                    @if (reunion.NuevaMinutaId > 0)
                                    {
                                        <li>
                                            <a href="#" onclick="cargarModal('@Url.Action("NuevaMinuta", "Meetings", new { @id = reunion.NuevaMinutaId })')">
                                                Nueva Minuta
                                            </a>
                                        </li>
                                    }
                                    @if (reunion.Minutas.Any())
                                    {
                                        foreach (var item in reunion.Minutas)
                                        {
                                            <li><a href="@Url.Action("Minuta", "Meetings", new {@id = @item.departamentoId, @tipoId = @item.tipoId, @minutaId = @item.minutaId })">@item.nombre</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#" style=" text-decoration: underline !important;">Administradores</a></li>
                            @if (reunion.usuario1 != null)
                            {
                                <li><a href="#">@reunion.usuario1</a></li>
                            }
                            @if (reunion.usuario2 != null)
                            {
                                <li><a href="#">@reunion.usuario2</a></li>
                            }
                            @if (reunion.usuario3 != null)
                            {
                                <li><a href="#">@reunion.usuario3</a></li>
                            }
                        </ul>
                    </div>
                </div>
            }

        }

    }
</div>
<div style="clear: both;"></div>
@section scripts{
    <script src="~/Scripts/Meetings/Reuniones.js"></script>
}
