﻿/* jTable light color theme - Blue
 * Created by Halil İbrahim Kalkan
 * http://www.jtable.org
 */

@import "../jtable_lightcolor_base.less";

@theme-folder: 'blue';

.jtable_lightcolor_base(@theme-folder);

div.jtable-main-container
{
    div.jtable-title
    {
        .vertical-gradient(#78b1ed,#417bb5);
        border-color: #2B5177;

        div.jtable-title-text
        {
            .text-shadow(0 1px 0 #666);
            color: #fff;
        }

		div.jtable-toolbar
		{
			span.jtable-toolbar-item
			{
				color: white;

				&.jtable-toolbar-item-hover
				{
					background-color: #417bb5;
				}
			}
		}
    }

    table.jtable
    {
        tbody
        {
            > tr
            {
				@highlight-color:#5f9cdc;

                &.jtable-row-selected,
                &.jtable-row-selected:hover
                {
                    /*background-color: @highlight-color;*/
                }

                &.jtable-row-created,
                &.jtable-row-updated,
                &.jtable-row-deleting
                {
                    background-color: @highlight-color;
                }
            }
        }
    }

    div.jtable-bottom-panel
    {
        .jtable-page-list
        {
            .jtable-page-number-active,.jtable-page-number-active:hover
            {
				@bgcolor: #2B5177;

                background-color: @bgcolor;
                border-color: @bgcolor - #222;
            }
        }

        span.jtable-add-record
        {
            a
            {
                color: #2B5177;
            }
        }
    }
}

div.jtable-busy-message
{
    border-color: #2B5177;
    background-color: #78B1ED;
}