﻿@model FollowTaskIt.AccesoBaseDatosV2.PARAMETROS

@{
    ViewBag.Title = "Creacion de PARAMETROS";
}
<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.formato_fecha, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.formato_fecha, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.formato_fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre_empresa, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.nombre_empresa, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nombre_empresa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.servidor_email, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.servidor_email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.servidor_email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email_operador, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.email_operador, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.email_operador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.direccion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.formato_fecha_display, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.formato_fecha_display, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.formato_fecha_display)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.puerto_chat, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.puerto_chat, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.puerto_chat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.secuencia_auto, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.secuencia_auto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.secuencia_auto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario_email, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.usuario_email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.usuario_email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clave_email, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.clave_email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.clave_email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.Version, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Version)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.puerto_email, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.puerto_email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.puerto_email)
            </div>
        </div>

</div>      
	<hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>


}

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }
}
