﻿@model FollowTaskIt.AccesoBaseDatosV2.PARAMETROS

@{
    ViewBag.Title = "Detalles PARAMETROS";
}

<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.formato_fecha, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formato_fecha)
        </dd>

        <dt>
            @Html.LabelFor(model => model.nombre_empresa, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_empresa)
        </dd>

        <dt>
            @Html.LabelFor(model => model.servidor_email, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servidor_email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.email_operador, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_operador)
        </dd>

        <dt>
            @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.formato_fecha_display, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.formato_fecha_display)
        </dd>

        <dt>
            @Html.LabelFor(model => model.puerto_chat, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puerto_chat)
        </dd>

        <dt>
            @Html.LabelFor(model => model.secuencia_auto, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secuencia_auto)
        </dd>

        <dt>
            @Html.LabelFor(model => model.usuario_email, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario_email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.clave_email, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave_email)
        </dd>

        <dt>
            @Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.LabelFor(model => model.puerto_email, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puerto_email)
        </dd>

    </dl>
</div>


<hr class="titulo-hr" />
<div class="form-actions">
    <div class="btn-group" role="group">
        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

<div style="clear: both;"></div>

