﻿@model IEnumerable<FollowTaskIt.AccesoBaseDatosV2.PARAMETROS>

@{
    ViewBag.Title = "Listado de Parametros";
    var nombreControlador = "Parametros";
}

<h3 class="titulo titulo-index">@ViewBag.Title</h3>
<div class="form-actions">
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default" onclick="cargarModal('@Url.Action("Create", @nombreControlador)')">Crear Nuevo Parametro</a>
    </div>
</div>
<div style="clear: both;"></div>
<hr class="titulo-hr" />

@Html.Partial("_MensajeError")
<div class="table-responsive">
    <table class="table table-bordered display table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.formato_fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombre_empresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.servidor_email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.formato_fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre_empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.servidor_email)
                    </td>
                    <td>
                        <div class="btn-group" role="group">

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accion
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", @nombreControlador, new { id=item.Parametros_Id })')">Detalle</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Edit", @nombreControlador, new { id=item.Parametros_Id })')">Editar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <hr class="titulo-hr" />

    @section scripts{

        @*Datatable BEING*@
        <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.dataTables.min.js"></script>
        @*Datatable END*@
        <!-- Mi Codigo Data Table -->
        <script src="~/Scripts/Usuario/myCodeDataTable.js"></script>
        <script src="~/Scripts/Menu/Settings.js"></script>

    }

