﻿@model FollowTaskIt.AccesoBaseDatosV2.REUNION

@{
    ViewBag.Title = "Eliminar REUNION";
}

<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />

<h5>Esta seguro que desea eliminar este registro?</h5>
@Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.nombre_reunion, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_reunion)
        </dd>

      

        <dt>
            @Html.LabelFor(model => model.fecha_inicio, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.LabelFor(model => model.fecha_final, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_final)
        </dd>

        <dt>
            @Html.LabelFor(model => model.fecha_cierre, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_cierre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.tiempo, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempo)
        </dd>

        <dt>
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Html.LabelFor(model => model.usopassword, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usopassword)
        </dd>

        <dt>
            @Html.LabelFor(model => model.DEPARTAMENTO, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO.nombre_depto)
        </dd>

        <dt>
            @Html.LabelFor(model => model.REUNION_ESTATUS, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REUNION_ESTATUS.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.REUNION_TIPO, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REUNION_TIPO.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EMPLEADOS, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS.nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EMPLEADOS1, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS1.nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EMPLEADOS2, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS2.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <hr class="titulo-hr" />
        <div class="form-actions">
            <div class="btn-group" role="group">
                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Eliminar" class="btn btn-default" />
            </div>
        </div>

        <div style="clear: both;"></div>
    }
</div>

