﻿@model FollowTaskIt.AccesoBaseDatosV2.REUNION

@{
    ViewBag.Title = "Editar REUNION";
}

<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.departamentoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("departamentoId", null, "Seleccionar",  htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.departamentoId)
            </div>
        </div>

        @Html.HiddenFor(model => model.reunionId)
        <div class="form-group">
            @Html.LabelFor(model => model.nombre_reunion, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.nombre_reunion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.nombre_reunion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario1, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("usuario1", null, "Selecionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.usuario1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario2, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("usuario2", null,"Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.usuario2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usuario3, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("usuario3", null,"Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.usuario3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_inicio, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.fecha_inicio, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fecha_inicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_final, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.fecha_final, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fecha_final)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_cierre, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.fecha_cierre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fecha_cierre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tiempo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.tiempo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tiempo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.usopassword, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.usopassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.usopassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estatusId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("estatusId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.estatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("tipoId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipoId)
            </div>
        </div>

        <hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
}


@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }
}


