﻿@model FollowTaskIt.Models.ListadoReunionesViewModel

@{
    ViewBag.Title = "Listado de Reuniones";
    var nombreControlador = "Reuniones";
}

<h3 class="titulo titulo-index">@ViewBag.Title</h3>
<div class="form-actions">
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default" onclick="cargarModal('@Url.Action("Create", @nombreControlador)')">Crear Nuevo Reunion</a>
    </div>
</div>
<div style="clear: both;"></div>
<hr class="titulo-hr" />

@Html.Partial("_MensajeError")
<div class="row">
    <div class="col-md-5" style="margin-bottom: -41px; z-index: 1">
        <div>
            @Html.DropDownList("estatusId", null, "Seleccionar Estado", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered display table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().nombre_reunion)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().fecha_inicio)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().DEPARTAMENTO.nombre_depto)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().tipoId)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listado)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre_reunion)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_inicio)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DEPARTAMENTO.nombre_depto)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.REUNION_TIPO.Nombre)
                    </td>

                    <td>
                        <div class="btn-group" role="group">

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accion
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", @nombreControlador, new { id=item.reunionId })')">Detalle</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Edit", @nombreControlador, new { id=item.reunionId })')">Editar</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Delete", @nombreControlador, new { id=item.reunionId })')">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr class="titulo-hr" />

@section scripts{

    @*Datatable BEING*@
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @*Datatable END*@
    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/Usuario/myCodeDataTable.js"></script>
    <script src="~/Scripts/Menu/Settings.js"></script>
    <script>

        $(document).ready(function () {

            var nombreDelBoton = "#estatusId";

            $(nombreDelBoton).change(function () {
                var selectedValue = $(nombreDelBoton).val();
                var div = document.getElementById(nombreDelBoton.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + '@nombreControlador' + '/' + '@ViewBag.nombreAccion' + '/' + selectedValue;
                Redirect(url);

            });

        });

    </script>
}

