﻿@model FollowTaskIt.AccesoBaseDatosV2.SERVICIOS

@{
    ViewBag.Title = "Detalles SERVICIOS";
}

<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.DEPARTAMENTO, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTO.nombre_depto)
        </dd>

        <dt>
            @Html.LabelFor(model => model.EMPLEADOS, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLEADOS.nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.SERVICIOS_ESTADOS, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERVICIOS_ESTADOS.Nombre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.pcid, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pcid)
        </dd>

        <dt>
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.LabelFor(model => model.tiempoid, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempoid)
        </dd>

        <dt>
            @Html.LabelFor(model => model.solucion, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solucion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.asignadoid, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asignadoid)
        </dd>

        <dt>
            @Html.LabelFor(model => model.fecha_vence, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_vence)
        </dd>

        <dt>
            @Html.LabelFor(model => model.fecha_cierre, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_cierre)
        </dd>

        <dt>
            @Html.LabelFor(model => model.fecha_solucion, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_solucion)
        </dd>

        <dt>
            @Html.LabelFor(model => model.notificaciones, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notificaciones)
        </dd>

        <dt>
            @Html.LabelFor(model => model.satisfaccion, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.satisfaccion)
        </dd>

    </dl>
</div>


<hr class="titulo-hr" />
<div class="form-actions">
    <div class="btn-group" role="group">
        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

<div style="clear: both;"></div>

