﻿@model FollowTaskIt.AccesoBaseDatosV2.SERVICIOS

@{
    ViewBag.Title = "Detalles de Servicio";
}

<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.servicioId)
        @Html.HiddenFor(model => model.solicitanteid)
        @Html.HiddenFor(model => model.departamentoId)
        @Html.HiddenFor(model => model.tiempoid)
        @Html.HiddenFor(model => model.pcid)
        @Html.HiddenFor(model => model.fecha)
        @Html.HiddenFor(model => model.asignadoid)
        @Html.HiddenFor(model => model.fecha_vence)
        @Html.HiddenFor(model => model.notificaciones)
        @Html.HiddenFor(model => model.satisfaccion)
        @Html.HiddenFor(model => model.descripcion)
        @Html.HiddenFor(model => model.estadoId)

        <div class="form-group">
            @Html.LabelFor(model => model.departamentoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("departamentoId", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.departamentoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tiempoid, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("tiempoid", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.tiempoid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.asignadoid, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("asignadoid", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.asignadoid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.fecha, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.fecha)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Solucionado, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @if (Model.Solucionado)
                {
                    <span class="label label-success">SI</span>
                }
                else
                {
                    <span class="label label-danger">NO</span>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solucion, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.solucion, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.solucion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_vence, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.fecha_vence, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.fecha_vence)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.solicitanteid, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("solicitanteid", null, "Seleccionar", htmlAttributes: new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.solicitanteid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pcid, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBoxFor(model => model.pcid, new { @class = "form-control", @readonly = "readonly", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.pcid)
            </div>
        </div>

        <hr class="titulo-hr" />
        <div class="form-actions">
            <div class="btn-group" role="group">
                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
}

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }
}


