﻿@model FollowTaskIt.Models.ListadoServiciosViewModel

@{
    var nombreControlador = "Services";
}

<h3 class="titulo titulo-index">@ViewBag.Title</h3>

<div class="form-actions">
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default" onclick="cargarModal('@Url.Action("Create", @nombreControlador)')">Solicitar Servicio</a>
    </div>
</div>
<div style="clear: both;"></div>
<hr class="titulo-hr" />

@Html.Partial("_MensajeError")
<div class="row">
    <div class="col-md-5" style="margin-bottom: -41px; z-index: 1">
        <div>
            @Html.DropDownList("estadoId", null, "Seleccionar Estado", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.estadoId)
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered display table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().servicioId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().DEPARTAMENTO.nombre_depto)
                </th>
                @if (Model.listado.Any())
                {
                    if (Model.usuarioLogeado == Model.listado.FirstOrDefault().solicitanteid)
                    {
                        <th>
                            Asignado
                        </th>
                    }
                    else
                    {
                        <th>
                            Solicitante
                        </th>
                    }
                }
                else
                {
                    <th>
                        Solicitante
                    </th>
                }

                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().SERVICIOS_ESTADOS.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().fecha_vence)
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listado)
            {
                <tr>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accion
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                @switch (item.estadoId)
                                {
                                    case FollowTaskIt.Enumeradores.ServiciosEstados.Cerrada:
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", @nombreControlador, new { id=item.servicioId })')">Detalle</a>
                                </li>
                                        break;

                                    case FollowTaskIt.Enumeradores.ServiciosEstados.Completada:
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", @nombreControlador, new { id=item.servicioId })')">Detalle</a>
                                </li>
                                        if (Model.usuarioLogeado == item.solicitanteid)
                                        {
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Cerrar", @nombreControlador, new { id = item.servicioId })')">Cerrar</a>
                                </li>
                                        }

                                        break;

                                    case FollowTaskIt.Enumeradores.ServiciosEstados.Pendiente:
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", @nombreControlador, new { id=item.servicioId })')">Detalle</a>
                                </li>

                                        if (Model.usuarioLogeado == item.solicitanteid)
                                        {
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Delete", @nombreControlador, new { id=item.servicioId })')">Eliminar</a>
                                </li>
                                        }
                                        else if (Model.usuarioLogeado == item.asignadoid)
                                        {
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Edit", @nombreControlador, new { id=item.servicioId })')">Solucionar</a>
                                </li>
                                        }

                                        break;
                                }


                            </ul>
                        </div>
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.servicioId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DEPARTAMENTO.nombre_depto)
                    </td>
                    @if (Model.usuarioLogeado == item.solicitanteid)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPLEADOS1.nombre)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.EMPLEADOS.nombre)
                        </td>
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.SERVICIOS_ESTADOS.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha_vence)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<hr class="titulo-hr" />

@section scripts{

    @*Datatable BEING*@
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @*Datatable END*@
    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/Usuario/myCodeDataTable.js"></script>
    <script src="~/Scripts/Menu/Consultas.js"></script>

    <script>

        $(document).ready(function () {

            var nombreDelBoton = "#estadoId";

            $(nombreDelBoton).change(function () {
                var selectedValue = $(nombreDelBoton).val();
                var div = document.getElementById(nombreDelBoton.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + '@nombreControlador' + '/' + '@ViewBag.nombreAccion' + '/' + selectedValue;
                Redirect(url);

            });

        });

    </script>
}
