﻿@model IEnumerable<FollowTaskIt.AccesoBaseDatosV2.DEPARTAMENTO>
<link href="~/Content/morris.css" rel="stylesheet" />
<div style="height:15px;">

</div>
<div class="row">
    @if (Model != null)
    {
        int contador = 0;
        foreach (var person in Model)
        {
            contador += 1;
            bool esDivisible = (contador % 4) == 0;
            if (esDivisible)
            {
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-edit fa-3x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">@person.departamentoId</div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <a href="@Url.Action("Create", "Services", new { @id = @person.departamentoId})">
                                <div class="panel-footer">
                                    <span class="pull-left">@person.nombre_depto</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div> }
            else
            {
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-edit fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">@person.departamentoId</div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <a href="@Url.Action("Create", "Services", new { @id = @person.departamentoId})">
                            <div class="panel-footer">
                                <span class="pull-left">@person.nombre_depto</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    }
    else
    {

    }
                </div>

@section scripts {
    <script src="~/Scripts/Menu/Consultas.js"></script>
}