﻿<link href="~/Content/font-awesome.3.2.1.css" rel="stylesheet">
<link href="~/Content/breadcrumbStyle.css" rel="stylesheet" />
<div id="breadcrumb_contenedor">
    @*
        <ul id="breadcrumb">
        <li><a href="#"><span class="icon icon-home"> </span></a></li>
        <li><a href="#"><span class="icon icon-beaker"> </span> Projects</a></li>
        <li><a href="#"><span class="icon icon-double-angle-right"></span> Breadcrumb</a></li>
        <li><a href="#"><span class="icon icon-rocket"> </span> Getting started</a></li>
        <li><a href="#"><span class="icon icon-arrow-down"> </span> Download</a></li>
        </ul>
    *@
    @*@Html.Raw(Html.BuildBreadcrumbNavigation())*@
    @*@Html.MvcSiteMap().Menu()*@
    @if (Html.ViewContext.RouteData.Values["controller"].ToString() != "Home")
    {
        @Html.MvcSiteMap().SiteMapPath()
    }
        


</div>

@section scripts{

}
