﻿<div id="divFlotanteTarea" class="dropLinkAbajo">
    <a href="#">
        <span> <i class="fa fa-plus-circle fa-3x"></i> </span>
    </a>
    <div class="dropdown-menu dropLinkAbajoSub">
     
           <div class="row agenda-AsignarTarea">
            <form method="post" id="frmInsert2" novalidate="novalidate">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label" for="empleadoId">Asignado a</label>
                        <div>
                            <select class="form-control" id="empleadoId" name="empleadoId">
                                <option value="">Seleccionar</option>
                                <option value="00002339">ALBA RODRIGUEZ</option>
                                <option value="00002337">ALBERTO PORTELA</option>
                                <option value="00009999">ANDY SANTOS</option>
                                <option value="00003035">ARLENE BENCOSME</option>
                                <option value="10000012">Armando De La Rosa</option>
                                <option value="00002335">CLAUDIA FANDUIZ           </option>
                                <option value="00000629">MANUEL FERMIN           </option>
                                <option value="00001793">MARTIN RODRIGUEZ           </option>
                                <option value="10000006">Nuevo Empleado Softni</option>
                                <option value="10000008">Nuevo Empleado Softni</option>
                                <option value="10000011">Nuevo Empleado Softni3</option>
                                <option value="10000009">Nuevo Empleado Softni4</option>
                                <option value="10000010">Nuevo Empleado Softni6</option>
                                <option value="10000007">Participante Prueba 2</option>
                                <option value="00000509">YANDRA PORTELA           </option>
                            </select>
                            <span class="field-validation-valid" data-valmsg-for="empleadoId" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="solicitante">Solicitante</label>
                        <div>
                            <select class="form-control" id="solicitante" name="solicitante">
                                <option value="">Seleccionar</option>
                                <option value="ALBA RODRIGUEZ">ALBA RODRIGUEZ</option>
                                <option value="ALBERTO PORTELA">ALBERTO PORTELA</option>
                                <option value="ANDY SANTOS">ANDY SANTOS</option>
                                <option value="ARLENE BENCOSME">ARLENE BENCOSME</option>
                                <option value="Armando De La Rosa">Armando De La Rosa</option>
                                <option value="CLAUDIA FANDUIZ           ">CLAUDIA FANDUIZ           </option>
                                <option value="MANUEL FERMIN           ">MANUEL FERMIN           </option>
                                <option value="MARTIN RODRIGUEZ           ">MARTIN RODRIGUEZ           </option>
                                <option value="Nuevo Empleado Softni">Nuevo Empleado Softni</option>
                                <option value="Nuevo Empleado Softni">Nuevo Empleado Softni</option>
                                <option value="Nuevo Empleado Softni3">Nuevo Empleado Softni3</option>
                                <option value="Nuevo Empleado Softni4">Nuevo Empleado Softni4</option>
                                <option value="Nuevo Empleado Softni6">Nuevo Empleado Softni6</option>
                                <option value="Participante Prueba 2">Participante Prueba 2</option>
                                <option value="YANDRA PORTELA           ">YANDRA PORTELA           </option>
                            </select>
                            <span class="field-validation-valid" data-valmsg-for="solicitante" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px;">
                    <textarea class="text-box multi-line form-control" data-val="true" data-val-required="The textoTarea field is required." id="textoTarea" name="textoTarea"></textarea>
                    <span class="field-validation-valid" data-valmsg-for="textoTarea" data-valmsg-replace="true"></span>
                </div>
                <div class="col-md-1 insertarTarea">
                    <a href="#" id="btnInsertarTarea"><i class="fa fa-check-square fa-3x"></i></a>
                    <div style="clear: both;"></div>
                </div>
              
            </form>
        </div>
   
     </div>
</div>