﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @{
        var Titulo = (Html.ViewContext.RouteData.Values["controller"].ToString() != "Home" ? Html.ViewContext.RouteData.Values["controller"].ToString() : "");
        if (ViewBag.Title == null) {
            ViewBag.Title = Titulo;
        }
    }
    <title>@ViewBag.Title - Company Meetings</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
        @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
    <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="app-layout" class="hold-transition skin-blue sidebar-mini" data-root="@Url.Content("~")">
    <div class="wrapper">
        <header class="main-header">

            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>C</b>M</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Company</b> Meetings</span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_NotificacionesPartial")
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">
                                    @if (!Request.IsAuthenticated)
                                    {
                                        <span>No Logged</span>
                                    }
                                    else
                                    {
                                        <span>@User.Identity.GetUserName().TitleizeRemove()</span>
                                    }
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        @if (!Request.IsAuthenticated)
                                        {
                                            <span>No Logged</span>
                                        }
                                        else
                                        {
                                            <span>@User.Identity.GetUserName().TitleizeRemove()</span>
                                        }
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Servicios</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Indicadores</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Compromisos</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("Details", "Empleados", new { username = User.Identity.GetUserName() })" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                      
                                        @using Microsoft.AspNet.Identity
                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Sign out</a>
                                            }
                                        }
                                        
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                      
                    </ul>
                </div>
            </nav>

        </header>
        <!-- Sidebar -->
        @Html.Partial("_SideBarPartial")
        <!-- /#sidebar-wrapper -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                @Html.Partial("_BreadcrumbPartial")
                <!-- Info boxes -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="@(Html.ViewContext.RouteData.Values["controller"].ToString() != "Home" ? "box" : "" )">
                            @RenderBody()
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                @RenderSection("FlotanteTareaInsertar", required: false)
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.3
            </div>
            <strong>Copyright &copy; 2016 <a href="http://creativedesigned.com">Creative Designed</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/plugins/fastclick/fastclick.min.js"></script>
    <script src="~/Content/dist/js/app.min.js"></script>
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    @*<script src="~/Content/dist/js/demo.js"></script>*@
    <script src="~/Scripts/Shared/Layout.js"></script>
    <script src="~/Scripts/Usuario/cargarModal.js"></script>
    <script src="~/Scripts/Shared/Bootstrap-Notify/bootstrap-notify.min.js"></script>
    @if (Request.IsAuthenticated)
    {
        <script src="~/Scripts/Shared/NotificacionesEscritorio.js"></script>
    }

    @RenderSection("scripts", required: false)
    @Html.Partial("_ModalTemplate")


</body>
</html>
