﻿<!DOCTYPE html>
@{
    var modelo = new FollowTaskIt.Models.ViewModelBase();
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Company Meetings</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @*<link href="~/Content/font-awesome.4.4.0.min.css" rel="stylesheet" />*@
    <link href="~/Content/demo.css" rel="stylesheet" />
    <link href="~/Content/footer-distributed-with-address-and-phones.css" rel="stylesheet" />
    @*<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">*@
</head>
<body data-root="@Url.Content("~")">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Follow Task It", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                    <div class="panel-group" id="accordion">
                        <div>
                            <div class="panel panel-default panel-heading divContador1" style="display:none; text-align: center;">
                                <div id ="divContador2" style="font-size: 21px; font-weight: 300; line-height: 1.4;"></div>
                            </div>
                        </div>
                        <div class="divContador1" style="display:none; clear:both; margin-bottom: 20px;"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <span class="glyphicon glyphicon-user"></span>
                                        @Html.ActionLink(" Departamentos", "Index", "FollowTaskIt", null, null)
                                    </a>
                                </h4>
                            </div>
                        </div>
                      
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                        Servicios
                                        <i class="fa fa-fw fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">

                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-search"></span><a href="~/Services/MisServicios"> Mis Servicios</a>
                                                <span class="label label-info"> @modelo.cantidadServicios(User.Identity.GetUserName()) </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-search"></span><a href="~/Services/Solicitados"> Solicitados</a>
                                                <span class="label label-info"> @modelo.cantidadServiciosConsulta(User.Identity.GetUserName()) </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-search"></span><a href="~/Services/Completados"> Completados</a>
                                                <span class="label label-info"> @modelo.cantidadServiciosCompletados(User.Identity.GetUserName()) </span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-edit"></span>
                                                @Html.ActionLink(" Solicitar", "Solicitar", "Services")
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        <span class="glyphicon glyphicon-list-alt"></span>
                                        Consultas
                                        <i class="fa fa-fw fa-caret-down"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-search"></span><a href="~/Consultas/Compromisos"> Compromisos</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="glyphicon glyphicon-search"></span><a href="~/Consultas/Indicadores"> Indicadores</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        @if (modelo.accesoMantenimiento(User.Identity.GetUserName()))
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                            <span class="glyphicon glyphicon-wrench">
                                            </span> Settings
                                            <i class="fa fa-fw fa-caret-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-user"></span> @Html.ActionLink("Empleados", "Index", "Empleados")
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-list"></span><a href="~/TipoServicios"> Tipo Servicios</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-tasks"></span><a href="~/Departamentos">  Departamentos</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-briefcase"></span><a href="~/Reuniones">  Reuniones</a>
                                                </td>
                                            </tr>
                                            @*<tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-briefcase"></span><a href="~/TiposReuniones">  Tipos Reuniones</a>
                                                </td>
                                            </tr>*@
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-hdd"></span><a href="~/Parametros"> Parametros</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="glyphicon glyphicon-hdd"></span><a href="~/Dias"> Periodos</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <a href="javascript:document.getElementById('logoutForm').submit()"> Log off</a>
                                </h4>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 col-lg-10 background_logo">
                    <div class="transbox">
                        <div class="padding">
                            @Html.Partial("_BreadcrumbPartial")
                            @RenderBody()
                        </div>
                    </div>
                    @RenderSection("FlotanteTareaInsertar", required: false)
                </div>
            </div>
        }
        else
        {
            @RenderBody()
        }
        <hr />
    </div>
    <footer class="footer-distributed">

        <div class="footer-left">

            @*<img src="@Url.Content("~")Content/images/Logo.png" height="80" width="200" style="opacity:0.9;filter:alpha(opacity=10);" />*@

            <p class="footer-company-name">Company Name&copy; 2016</p>
        
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Your Address</span>Country</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+1 809 999 5555</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@mycompany.com">support@mycompany.com</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>Company Name</span>

            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-internet-explorer"></i></a>

            </div>

        </div>

    </footer>
</body>
</html>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/Shared/Layout.js"></script>
<script src="~/Scripts/Usuario/cargarModal.js"></script>
<script src="~/Scripts/Shared/Bootstrap-Notify/bootstrap-notify.min.js"></script>
@if (Request.IsAuthenticated)
{
    <script src="~/Scripts/Shared/NotificacionesEscritorio.js"></script>
}
@RenderSection("scripts", required: false)
@Html.Partial("_ModalTemplate")
