﻿@if (TempData["MensajeError"] != null)
{
    string mensajeError = TempData["MensajeError"].ToString();
    string tipo = mensajeError.Split('|').First();
    string contenido = mensajeError.Split('|').Last();
    List<string> listaMensajes = contenido.Split(';').ToList();
    if (tipo == "ok")
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @{
                int contador = 0;
                foreach (var item in listaMensajes)
                {
                    if (contador > 0)
                    {
                        <br>
                    }
                    contador += 1;
                    <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
                        <span>@item</span>
                }
            }
        </div>
    }
    else if (tipo == "error")
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @{
                int contador = 0;
                foreach (var item in listaMensajes)
                {
                    if (contador > 0)
                    {
                        <br>
                    }
                    contador += 1;
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span>@item</span>
                }
            }
        </div>
    }
    else if (tipo == "info")
    {
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @{
                int contador = 0;
                foreach (var item in listaMensajes)
                {
                    if (contador > 0)
                    {
                        <br>
                    }
                    contador += 1;
                    <span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        <span>@item</span>

                }
            }
        </div>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @{
                int contador = 0;
                foreach (var item in listaMensajes)
                {
                    if (contador > 0)
                    {
                        <br>
                    }
                    contador += 1;
                    <span class="glyphicon glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                        <span>@item</span>
                }
            }
        </div>
    }

    TempData["MensajeError"] = null;
}
