﻿<!-- Modal
    
    ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-draggable ui-resizable
    
     -->
<div id="page-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="ui-dialog" style="margin: 30px auto !important; position: static !important; background:none !important; min-width: 600px;" role="document">
        <div class="modal-content">
            <div class="modal-header ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="ui-dialog-title" id="myModalLabel">Modal title</span>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            @*
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            *@
        </div>
    </div>
</div>
<div id="page-modal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            @*
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            *@
        </div>
    </div>
</div>
<link href="~/Content/themes/custom-theme/jquery-ui-1.10.3.custom.css" rel="stylesheet" />