﻿@using Microsoft.AspNet.Identity
@{
    var modelo = new FollowTaskIt.Models.ViewModelBase();
}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" id="sidebar-wrapper">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>
                    @if (!Request.IsAuthenticated)
                    {
                        <span>No Logged</span>
                    }
                    else
                    {
                        <span>@User.Identity.GetUserName().TitleizeRemove()</span>
                    }

                </p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="header">
                <div>
                    <div class="panel panel-default panel-heading divContador1" style="display:none; text-align: center;">
                        <div id="divContador2" style="font-size: 21px; font-weight: 300; line-height: 1.4;"></div>
                    </div>
                </div>
                <div class="divContador1" style="display:none; clear:both; margin-bottom: 20px;"></div>
            </li>
            <li>
                <a href="@Url.Action("Index","Meetings")">
                    <span class="glyphicon glyphicon-user"></span> 
                    <span>Meetings</span>
                    <small class="label pull-right bg-green">1</small>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Servicios</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="~/Services/MisServicios">
                            <span class="glyphicon glyphicon-search"></span> Mis Servicios
                            <span class="label label-info pull-right"> @modelo.cantidadServicios(User.Identity.GetUserName()) </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Services/Solicitados">
                            <i class="fa fa-circle-o"></i> Solicitados
                            <span class="label label-info pull-right"> @modelo.cantidadServiciosConsulta(User.Identity.GetUserName()) </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Services/Completados">
                            <span class="glyphicon glyphicon-search"></span> Completados
                            <span class="label label-info pull-right"> @modelo.cantidadServiciosCompletados(User.Identity.GetUserName()) </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solicitar", "Services")">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span>Solicitar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Servicios</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="~/Services/MisServicios">
                            <span class="glyphicon glyphicon-search"></span> Mis Servicios
                            <span class="label label-info pull-right"> @modelo.cantidadServicios(User.Identity.GetUserName()) </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Services/Solicitados">
                            <i class="fa fa-circle-o"></i> Solicitados
                            <span class="label label-info pull-right"> @modelo.cantidadServiciosConsulta(User.Identity.GetUserName()) </span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Services/Completados">
                            <span class="glyphicon glyphicon-search"></span> Completados
                            <span class="label label-info pull-right"> @modelo.cantidadServiciosCompletados(User.Identity.GetUserName()) </span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Solicitar", "Services")">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span>Solicitar</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <span class="glyphicon glyphicon-list-alt"></span> <span>Consultas</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="~/Consultas/Compromisos">
                            <span class="glyphicon glyphicon-search"></span> Compromisos
                        </a>
                    </li>
                </ul>
                <ul class="treeview-menu">
                    <li>
                        <a href="~/Consultas/Indicadores">
                            <span class="glyphicon glyphicon-search"></span> Indicadores
                        </a>
                    </li>
                </ul>
            </li>
            @if (modelo.accesoMantenimiento(User.Identity.GetUserName()))
            {
                <li class="treeview">
                    <a href="#">
                        <span class="glyphicon glyphicon-wrench"></span> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="~/Empleados">
                                <span class="glyphicon glyphicon-user"></span> Empleados
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="~/TipoServicios">
                                <span class="glyphicon glyphicon-list"></span> Tipo Servicios
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="~/Departamentos">
                                <span class="glyphicon glyphicon-tasks"></span> Departamentos
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="~/Reuniones">
                                <span class="glyphicon glyphicon-briefcase"></span> Reuniones
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="~/TiposReuniones">
                                <span class="glyphicon glyphicon-briefcase"></span> Tipos Reuniones
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="~/Parametros">
                                <span class="glyphicon glyphicon-hdd"></span> Parametros
                            </a>
                        </li>
                    </ul>
                    <ul class="treeview-menu">
                        <li>
                            <a href="~/Dias">
                                <span class="glyphicon glyphicon-hdd"></span> Periodos
                            </a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>