﻿@model FollowTaskIt.AccesoBaseDatosV2.REUNION_TIPO

@{
    ViewBag.Title = "Creacion de REUNION_TIPO";
}
<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.tipoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.TextBoxFor(model => model.tipoId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tipoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        
    
</div>      
	<hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>


}


@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>    
    }
}

