﻿@model FollowTaskIt.AccesoBaseDatosV2.REUNION_TIPO

@{
    ViewBag.Title = "Detalles REUNION_TIPO";
}

<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>


<hr class="titulo-hr" />
<div class="form-actions">
    <div class="btn-group" role="group">
        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

<div style="clear: both;"></div>

