﻿#breadcrumb_contenedor {
  /*text-align: center;*/
  margin-top: -5px !important;
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-bottom: -10px !important;
}
#breadcrumb_contenedor #breadcrumb {
  list-style: none;
  display: inline-block;
}
#breadcrumb_contenedor #breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb_contenedor #breadcrumb li {
  float: left;
}
#breadcrumb_contenedor #breadcrumb li a {
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb_contenedor #breadcrumb li:nth-child(even) a {
  background-color: #2980b9;
}
#breadcrumb_contenedor #breadcrumb li:nth-child(even) a:before {
  border-color: #2980b9;
  border-left-color: transparent;
}
#breadcrumb_contenedor #breadcrumb li:nth-child(even) a:after {
  border-left-color: #2980b9;
}
#breadcrumb_contenedor #breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb_contenedor #breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb_contenedor #breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb_contenedor #breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb_contenedor #breadcrumb li a:before, #breadcrumb_contenedor #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb_contenedor #breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb_contenedor #breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}
#breadcrumb_contenedor #breadcrumb li a:hover {
  background-color: #1abc9c;
}
#breadcrumb_contenedor #breadcrumb li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb_contenedor #breadcrumb li a:hover:after {
  border-left-color: #1abc9c;
}
#breadcrumb_contenedor #breadcrumb li a:active {
  background-color: #16a085;
}
#breadcrumb_contenedor #breadcrumb li a:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
#breadcrumb_contenedor #breadcrumb li a:active:after {
  border-left-color: #16a085;
}
