﻿ul#breadcrumb {
    padding-left: 0px;
}
.box {
    padding-right: 15px;
    padding-left: 15px;
}
.dropDownBarraTitulo {
    margin-top: 5px;
    width: 230px;
}


.dropDownBarraTitulo2 {
    margin-top: 3px;
    width: 200px;
}

.form-actions {
    min-height: 50px;
}

#divContenedorIndicadores,
#divContenedorServicios,
#divContenedorProyectos {
    overflow-y: auto;
    /*height: 350px;*/
    max-height: 350px;
    margin-right: -15px;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.TiempoFinalizado {
    color: white;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.jtable-toolbar label {
    color: white;
    font-weight: bold !important;
}

.divContador1 br {
    clear: both;
}

.dropLinkAbajo .dropLinkAbajoSub {
    right: 0;
    left: 40px;
    top: 0px;
    width: 650px;
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.anchoChil {
    width: 20px !important;
}

.anchoCentrado {

    text-align: center !important;

}

.anchoTarea {
    width: 520px;
}

.anchoFechaVence {
    min-width: 90px;
}

div.jtable-main-container > div.jtable-title div.jtable-title-text {
    font-size: 14px !important;
    line-height: 28px !important;
}

.boton-minuta-cerrar {
    margin-bottom: -15px;
    margin-top: -9px;
    margin-right: -9px;
}

.agenda-Texto {
    padding-right: 0px;
}

.separacionArriba {
    height: 15px;
}

#textoTarea {
    margin-top: 10px;
    width: 107%;
    max-width: 107% !Important;
    height: 105px;
    margin-left: -15px;
}

.insertarTarea {
    margin-top: 6px;
}

.RefechaClase {
    text-align: center;
}

.jtable-selecting-column {
    width: 25px;
}

.agenda-AsignarTarea .form-group {
    margin-bottom: 0px !important;
    margin-top: 10px;
}

.jtable-child-table-container {
    margin-left: 25px;
}

.jtable-data-row {
    border: 1px solid #C8C8C8 !important;
}

div.jtable-main-container table.jtable tbody > tr.jtable-child-row > td {
    background-color: #e8eaef !important;
    border: 1px solid #C8C8C8 !important;
}

.agenda-Participantes .jtable-toolbar-item-text,
#divContenedorCompromisos table thead,
/*#divContenedorProyectos table thead,*/
#divContenedorTareas table thead,
#divContenedorParticipantes table thead,
/*#refechaTable table thead,*/
.jtable-bottom-panel,
.agenda-Participantes .jtable-right-area {
    display: none !important;
}

#minuta_agenda, #minuta_puntos_pendientes {
    font-weight: bold;
    color: black;
}

.agenda-Texto textarea, .multiLine textarea {
    max-width: 100% !important;
    width: 100%;
    min-height: 400px;
    max-height: 500px;
}

.titulo-index {
    margin-bottom: -30px;
}

.form-actions {
    width: 100%;
}

.validation-summary-errors {
    padding-left: 20px;
}

    .validation-summary-errors li {
        list-style-type: none;
    }

.display {
    /*border: 1px solid #cccccc;*/
    border-radius: 8px;
}

.form-actions .btn-group {
    float: right;
}

.buscadorTablaLabel {
    width: 400px;
}

.buscadorTablaTextBox {
    margin-left: 0px !important;
    display: inline !important;
    width: 55%;
    margin-left: 10px !important;
}



.dl-horizontal dt {
    width: 30%;
    padding-right: 10px;
    padding-top: 5px;
}

.dl-horizontal dd {
    width: 40%;
    padding-left: 10px;
    padding-top: 5px;
}

#accordion {
    margin-top: 17px !important;
}

div.background_logo {
    background: url('images/minutabg.jpg');
    border: 1px solid black;
    min-height: 720px;
    background-repeat: repeat-y;
}

div.padding {
    padding: 20px;
}

div.transbox {
    background-color: #ffffff;
    margin-left: -15px;
    margin-right: -15px;
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
    min-height: 720px;
}


/*.background_logo {
  display: block;
  position: relative;
}

.background_logo::after {
    content: "";
    background: url('images/minutabg.jpg');
    background-image: url('images/minutabg.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 25px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
