﻿<link href="~/Content/morris.css" rel="stylesheet" />
<h4></h4>
<div class="row">

    @if (Model != null)
    {
        foreach (var reunion in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-briefcase fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@reunion.reunionId</div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Minuta", "Reunion", new { @id = @reunion.reunionId })">
                        <div class="panel-footer">
                            <span class="pull-left">@reunion.nombre_reunion</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>

        }
    }
    else
    {

    }
</div>