﻿<link href="~/Content/morris.css" rel="stylesheet" />
<h4></h4>
<div class="row">
    @if (Model != null)
    {
        foreach (var departamentoReuniones in Model)
        {
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-3x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">@departamentoReuniones.departamentoId</div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("ListReuniones", "Home", new { @id = @departamentoReuniones.departamentoId })">
                        <div class="panel-footer">
                            <span class="pull-left">@departamentoReuniones.nombre_depto</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
    else
    {

    }
</div>