﻿<link href="~/Content/panelPrimary.css" rel="stylesheet" />
<div class="separacionArriba"></div>
@Html.Partial("_MensajeError")
<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading clearfix">
                <div class=" pull-left">
                    <h1 class="panel-title pull-left">
                        <i class="fa fa-group"></i>
                    </h1>
                    <span>
                        @Html.DropDownList("currentEmpleadoId", null, "Seleccionar Empleado", new { @class = "dropDownBarraTitulo"})
                    </span>
                </div>
                <div class="pull-right">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1primary" data-toggle="tab">Indicadores</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1primary">
                        <div class="row" style="padding-bottom: 15px !important;">
                            <div class="col-lg-6">
                                <div id="divContenedorIndicadores" data-url="@Url.Action("", "IndicadoresJson")"></div>
                            </div>
                            <div class="col-lg-6">
                                <div id="divContenedorServicios" data-url="@Url.Action("", "IndicadoresJson")"></div>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom: 15px !important;">
                            <div class="col-lg-12">
                                <div id="divContenedorProyectos" data-url="@Url.Action("", "IndicadoresJson")"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
    <div class="current-tab">Current: <span></span></div>
    <div class="last-tab">Last: <span></span></div>
*@

@section scripts{

    @{
        //Para Usar un Tema de JQuery UI

        //var jQueryStyle = "flick/jquery-ui.flick.min.css";
        //var jQueryStyle = "smoothness/jquery-ui.smoothness.min.css";
        var jQueryStyle = "custom-theme/jquery-ui-1.10.3.custom.css";
        if (!string.IsNullOrEmpty(Request["jQueryStyle"]))
        {
            jQueryStyle = Request["jQueryStyle"];
        }


        //var jTableStyle = "jqueryui/jtable_jqueryui.css";
        var jTableStyle = "lightcolor/blue/jtable.css";
        //jtable/themes/
        //var jTableStyle = "lightcolor/gray/jtable.css";
        //var jTableStyle = "metro/blue/jtable.css";

        //var jTableStyle = "metro/lightgray/jtable.min.css";
        if (!string.IsNullOrEmpty(Request["jTableStyle"]))
        {
            jTableStyle = Request["jTableStyle"];
        }

    }

    <!-- JTable Control BEGIN -->
    <link href="@Url.Content("~/Content/themes/" + jQueryStyle)" rel="stylesheet" type="text/css" /> @*//Para Usar un Tema de JQuery UI*@
    <link href="@Url.Content("~/Scripts/jtable/themes/" + jTableStyle)" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/jquery.jtable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jtable/localization/jquery.jtable.es.js")"></script>
    <!-- JTable Control END -->
    <!-- Mi Codigo -->

    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/Consultas/Indicadores.js"></script>
<script src="~/Scripts/Menu/ConsultasConsultas.js"></script>
}
