﻿@model FollowTaskIt.AccesoBaseDatosV2.Dias

@{
    ViewBag.Title = "Editar Dias";
}

<h3 class="titulo">@ViewBag.Title</h3>
<hr class="titulo-hr" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DiaId)

        <div class="form-group">
            @Html.LabelFor(model => model.PeriodoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("PeriodoId", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PeriodoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dia, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.Dia)
                @Html.ValidationMessageFor(model => model.Dia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Orden, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.Orden)
                @Html.ValidationMessageFor(model => model.Orden)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.CheckBoxFor(model => model.Activo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Activo)
            </div>
        </div>


        <hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>
</div>
}


@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }
}


