﻿@model FollowTaskIt.Models.ListadoDiasViewModel

@{
    ViewBag.Title = "Listado de Periodos";
    var nombreControlador = "Dias";
}

<h3 class="titulo titulo-index">@ViewBag.Title</h3>
<div class="form-actions">
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default" onclick="cargarModal('@Url.Action("Create", @nombreControlador)')">Crear Nuevo Periodo</a>
    </div>
</div>
<div style="clear: both;"></div>
<hr class="titulo-hr" />

@Html.Partial("_MensajeError")
<div class="row">
    <div class="col-md-5" style="margin-bottom: -41px; z-index: 1">
        <div>
            @Html.DropDownList("periodoId", null, "Seleccionar Periodo", htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered display table-condensed">
        <thead>
            <tr>
                <th>
                    Periodo
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().Nombre)
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().Dia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().Activo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listado)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Periodos.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => item.Dia)
                    </td>
                    <td>
                        @if (item.Activo)
                        {
                            <span class="label label-success">SI</span>
                        }
                        else
                        {
                            <span class="label label-danger">NO</span>
                        }

                    </td>
                    <td>
                        <div class="btn-group" role="group">

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accion
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", @nombreControlador, new { id=item.DiaId })')">Detalle</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Edit", @nombreControlador, new { id=item.DiaId })')">Editar</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Delete", @nombreControlador, new { id=item.DiaId })')">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr class="titulo-hr" />

@section scripts{

    @*Datatable BEING*@
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    @*Datatable END*@
    <!-- Mi Codigo Data Table -->
    <script src="~/Scripts/Usuario/myCodeDataTable.js"></script>

    <script>

        $(document).ready(function () {

            var nombreDelBoton = "#periodoId";

            $(nombreDelBoton).change(function () {
                var selectedValue = $(nombreDelBoton).val();
                var div = document.getElementById(nombreDelBoton.replace('#', ''));
                var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                var url = divRoot + '@nombreControlador' + '/' + '@ViewBag.nombreAccion' + '/' + selectedValue;
                Redirect(url);

            });

        });

    </script>
}




