﻿@model FollowTaskIt.AccesoBaseDatosV2.TIEMPO_STANDARD

@{
    ViewBag.Title = "Creacion de TIEMPO_STANDARD";
}
<h3 class="titulo">@ViewBag.Title</h3>

<hr class="titulo-hr" />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.departamentoId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("departamentoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.departamentoId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.descripcion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dias, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.dias, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.dias)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.empleadoid, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("empleadoid", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.empleadoid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.minutos, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
				@Html.EditorFor(model => model.minutos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.minutos)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Activo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Activo)
            </div>
        </div>


</div>      
	<hr class="titulo-hr" />
    <div class="form-actions">
        <div class="btn-group" role="group">
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
    <div style="clear: both;"></div>


}

@if (Request.IsAjaxRequest())
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
}
else
{
    @section scripts {
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/Usuario/jqueryValidationFixToBootStrap.js"></script>
    }
}
