﻿@model FollowTaskIt.Models.ListadoTiempoStandardViewModel

@{
    ViewBag.Title = "Listado de Tipos de Servicios";
    var nombreControlador = "TipoServicios";
}

<h3 class="titulo titulo-index">@ViewBag.Title</h3>
<div class="form-actions">
    <div class="btn-group" role="group">
        <a href="#" class="btn btn-default" onclick="cargarModal('@Url.Action("Create", @nombreControlador)')">Crear Nuevo Tipo de Servicio</a>
    </div>
</div>
<div style="clear: both;"></div>
<hr class="titulo-hr" />

@Html.Partial("_MensajeError")
<div class="row">
    <div class="col-md-5" style="margin-bottom: -41px; z-index: 1">
        <div>
            @Html.DropDownList("departamentoId", null, "Selecciona Departamento...", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.departamentoId)
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered display table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().Activo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().DEPARTAMENTO.nombre_depto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.listado.FirstOrDefault().EMPLEADOS.nombre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listado)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @if (item.Activo)
                        {
                            <span class="label label-success">SI</span>
                        }
                        else
                        {
                            <span class="label label-danger">NO</span>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DEPARTAMENTO.nombre_depto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMPLEADOS.nombre)
                    </td>
                    <td>
                        <div class="btn-group" role="group">

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accion
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Details", @nombreControlador, new { id=item.tiempoid })')">Detalle</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Edit", @nombreControlador, new { id=item.tiempoid })')">Editar</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="cargarModal('@Url.Action("Delete", @nombreControlador, new { id=item.tiempoid })')">Eliminar</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <hr class="titulo-hr" />

    @section scripts{

        @*Datatable BEING*@
        @*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@
        <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
        @*<script src="~/Scripts/jquery.dataTables.min.js"></script>*@
        <script src="~/Scripts/jquery.dataTables.min.js"></script>
        @*Datatable END*@
        <!-- Mi Codigo Data Table -->
        <script src="~/Scripts/Usuario/myCodeDataTable.js"></script>
        <script src="~/Scripts/Menu/Settings.js"></script>

        <script>

            $(document).ready(function () {

                var nombreDelBoton = "#departamentoId";

                $(nombreDelBoton).change(function () {
                    var selectedValue = $(nombreDelBoton).val();
                    var div = document.getElementById(nombreDelBoton.replace('#', ''));
                    var divRoot = document.getElementsByTagName("body")[0].getAttribute('data-root');
                    var url = divRoot + '@nombreControlador' + '/' + '@ViewBag.nombreAccion' + '/' + selectedValue;
                    Redirect(url);

                });

            });

        </script>
    }

