﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")
{
    <a href="#"><span class="icon icon-double-angle-right"></span> @Model.Title</a>
}
else if (Model.IsClickable)
{
    if (string.IsNullOrEmpty(Model.Description))
    {
        <a href="@Model.Url"><span class="icon icon-double-angle-right"></span> @Model.Title </a>
    }
    else
    {
        if (Model.Title == "Home")
        {
            <a href="@Model.Url" title="@Model.Description"><span class="icon icon-home"></span> </a>
        }
        else
        {
            <a href="@Model.Url" title="@Model.Description"><span class="icon icon-double-angle-right"></span> @Model.Title </a>
        }

    }
}
else
{
    <a href="#"><span class="icon icon-double-angle-right"></span> @Model.Title </a>
}
